// Import Bootstrap's functions and variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";

// Override the primary color
$custom-theme-colors: (
  "primary": #A9A9A9,  //#02a9f7
  "secondary":  #02a9f7,
  "tertiary":   white,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");


// Import the rest of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";  

.nav-item:hover{
    background-color: darken(map-get($custom-theme-colors,primary ),2%);

}

.text-tertiary {
    color: map-get($theme-colors, "tertiary") !important;
  }



